# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @bassam @uzair @gotwarlost @vishalanarase @AndresNico @alessandro @3pings @MisterMX @stevendborrelli @maximilianbraun @mbbush @erhancagirici @tampakrap @cychiang @negz @pravindahal @atzedevries @sdischer-sap @jan-di @fahedouch @jeanduplessis @fernandezcuesta @xunholy @anagarlau @TylerGillson @thephred @jograca @bobh66 @haarchri @xiaozhu36 @hellertang @dalton-hill-0 @christophrj @kkendzia @akesser @ggkhrmv @d-honeybadger @mirzakopic @iainlane @jonasz-lasut @Henni @lindblombr @Breee @plumbis @chlunde @saamalik @hasheddan @dinesh @mergenci @dorroddorrod @SivaanandM @Mitsuwa @jcogilvie @muvaf @Duologic @jvrplmlmn @peefy @yordis @reedjosh @henrysachs @kisahm @vishwanaths @Avatos @phisco @humoflife @arielsepton @tr0njavolta @markussiebert @lsviben @jastang @maximiliantech @harsh @tongyiming @ytsarev @turkenf @ulucinar @jbw976 @janwillies @jdotw @adamwg @sergenyalcin @morningspace @dariozachow @zong-zhe @jcooklin 
